Repository Team-Umbba/Umbba-Server, pull requests merged in 2024-03, with the labels that each got.

#135 [FEAT] 기록하기(Album) API 구현
  umbba-api/src/main/java/sopt/org/umbba/api/config/SecurityConfig.java
  umbba-api/src/main/java/sopt/org/umbba/api/controller/album/AlbumController.java
  umbba-api/src/main/java/sopt/org/umbba/api/controller/album/dto/request/AlbumImgUrlRequestDto.java
  umbba-api/src/main/java/sopt/org/umbba/api/controller/album/dto/request/CreateAlbumRequestDto.java
  umbba-api/src/main/java/sopt/org/umbba/api/controller/album/dto/response/AlbumResponseDto.java
  umbba-api/src/main/java/sopt/org/umbba/api/service/album/AlbumService.java
  umbba-api/src/main/java/sopt/org/umbba/api/service/example.txt
  umbba-api/src/main/resources/application-dev1.yml
  umbba-api/src/main/resources/application-dev2.yml
  umbba-api/src/main/resources/application-local.yml
  umbba-api/src/main/resources/application-prod1.yml
  umbba-api/src/main/resources/application-prod2.yml
  umbba-common/src/main/java/sopt/org/umbba/common/exception/ErrorType.java
  umbba-common/src/main/java/sopt/org/umbba/common/exception/SuccessType.java
  umbba-domain/src/main/java/sopt/org/umbba/domain/domain/album/Album.java
  umbba-domain/src/main/java/sopt/org/umbba/domain/domain/album/repository/AlbumRepository.java
  umbba-domain/src/main/java/sopt/org/umbba/domain/domain/parentchild/Parentchild.java
  umbba-external/build.gradle
  umbba-external/src/main/java/sopt/org/umbba/external/s3/PreSignedUrlDto.java
  umbba-external/src/main/java/sopt/org/umbba/external/s3/S3BucketPrefix.java
  umbba-external/src/main/java/sopt/org/umbba/external/s3/S3Service.java
  umbba-external/src/main/java/sopt/org/umbba/external/s3/config/S3Config.java
Labels: 🔥 Pull Request, 예준🍒, ✨Feat, 🪄API, ☁️Database

#137 [FEAT] 가까워지기 API 구현
  umbba-api/src/main/java/sopt/org/umbba/api/controller/closer/CloserController.java
  umbba-api/src/main/java/sopt/org/umbba/api/controller/closer/dto/request/TodayCloserAnswerRequestDto.java
  umbba-api/src/main/java/sopt/org/umbba/api/controller/closer/dto/response/TodayCloserQnAResponseDto.java
  umbba-api/src/main/java/sopt/org/umbba/api/service/closer/CloserService.java
  umbba-api/src/main/java/sopt/org/umbba/api/service/qna/QnAService.java
  umbba-common/src/main/java/sopt/org/umbba/common/exception/ErrorType.java
  umbba-common/src/main/java/sopt/org/umbba/common/exception/SuccessType.java
  umbba-domain/src/main/java/sopt/org/umbba/domain/domain/closer/CloserQnA.java
  umbba-domain/src/main/java/sopt/org/umbba/domain/domain/closer/CloserQuestion.java
  umbba-domain/src/main/java/sopt/org/umbba/domain/domain/closer/repository/CloserQnARepository.java
  umbba-domain/src/main/java/sopt/org/umbba/domain/domain/closer/repository/CloserQuestionRepository.java
  umbba-domain/src/main/java/sopt/org/umbba/domain/domain/parentchild/Parentchild.java
Labels: 🔥 Pull Request, 동섭🍑, ✨Feat, 🪄API, ☁️Database

#139 [FEAT] Album API 추가 기능 구현
  umbba-api/src/main/java/sopt/org/umbba/api/controller/album/AlbumController.java
  umbba-api/src/main/java/sopt/org/umbba/api/service/album/AlbumService.java
  umbba-common/src/main/java/sopt/org/umbba/common/exception/ErrorType.java
  umbba-domain/src/main/java/sopt/org/umbba/domain/domain/album/Album.java
  umbba-domain/src/main/java/sopt/org/umbba/domain/domain/parentchild/Parentchild.java
Labels: 🔥 Pull Request, 예준🍒, ✨Feat, 🪄API, 🔧Modify

#143 [FIX] 과거 QnA 조회 로직 rollback
  umbba-api/src/main/java/sopt/org/umbba/api/service/qna/QnAService.java
Labels: 🔥 Pull Request, 예준🍒, 🧹Chore, 🪄API
