Repository Team-Umbba/Umbba-Server, pull requests merged in 2024-02, with the labels that each got.

#119 [DEPLOY] 개발/운영 서버 분리
  .github/workflows/api-CD-dev.yml
  .github/workflows/api-CD-prod.yml
  .github/workflows/api-CI-dev.yml
  .github/workflows/api-CI-prod.yml
  .github/workflows/notification-CD-dev.yml
  .github/workflows/notification-CD-prod.yml
  .github/workflows/notification-CI-dev.yml
  .github/workflows/notification-CI-prod.yml
  scripts/umbba-api-dev/appspec.yml
  scripts/umbba-api-dev/deploy.sh
  scripts/umbba-api-dev/switch.sh
  scripts/umbba-api-prod/appspec.yml
  scripts/umbba-api-prod/deploy.sh
  scripts/umbba-api-prod/switch.sh
  scripts/umbba-notification-dev/appspec.yml
  scripts/umbba-notification-dev/deploy.sh
  scripts/umbba-notification-prod/appspec.yml
  scripts/umbba-notification-prod/deploy.sh
  umbba-api/src/main/resources/application-dev1.yml
  umbba-api/src/main/resources/application-dev2.yml
  umbba-api/src/main/resources/application-prod1.yml
  umbba-api/src/main/resources/application-prod2.yml
  umbba-notification/src/main/resources/application-prod.yml
Labels: 🔥 Pull Request, 동섭🍑, 🚀Deploy

#122 [FEAT] 7일 이후 문답 구현
  umbba-api/src/main/java/sopt/org/umbba/api/controller/advice/ControllerExceptionAdvice.java
  umbba-api/src/main/java/sopt/org/umbba/api/controller/qna/QnAController.java
  umbba-api/src/main/java/sopt/org/umbba/api/service/qna/QnAService.java
  umbba-common/src/main/java/sopt/org/umbba/common/exception/ErrorType.java
  umbba-common/src/main/java/sopt/org/umbba/common/exception/SuccessType.java
  umbba-domain/src/main/java/sopt/org/umbba/domain/domain/parentchild/Parentchild.java
  umbba-domain/src/main/java/sopt/org/umbba/domain/domain/qna/repository/QuestionRepository.java
  umbba-notification/src/main/java/sopt/org/umbba/notification/service/fcm/FCMController.java
  umbba-notification/src/main/java/sopt/org/umbba/notification/service/fcm/FCMService.java
Labels: 🔥 Pull Request, 동섭🍑, 🪄API, 🔧Modify, ☁️Database

#124 [FEAT] 마이페이지 API 구현
  .gitignore
  umbba-api/src/main/java/sopt/org/umbba/api/config/SecurityConfig.java
  umbba-api/src/main/java/sopt/org/umbba/api/controller/qna/QnAController.java
  umbba-api/src/main/java/sopt/org/umbba/api/controller/qna/dto/response/MyUserInfoResponseDto.java
  umbba-api/src/main/java/sopt/org/umbba/api/service/example.txt
  umbba-api/src/main/java/sopt/org/umbba/api/service/qna/QnAService.java
  umbba-common/src/main/java/sopt/org/umbba/common/exception/SuccessType.java
  umbba-domain/src/main/java/sopt/org/umbba/domain/domain/parentchild/ParentchildRelation.java
Labels: 🔥 Pull Request, 예준🍒, ✨Feat, 🪄API

#129 [MODIFY] 마이페이지 API 초대코드 응답 추가
  umbba-api/src/main/java/sopt/org/umbba/api/controller/qna/dto/response/MyUserInfoResponseDto.java
Labels: 🔥 Pull Request, 예준🍒, 🪄API, 🔧Modify

#127 [MODIFY] 문답 튜토리얼 추가에 따른 API 변경사항 적용
  umbba-api/src/main/java/sopt/org/umbba/api/controller/qna/QnAController.java
  umbba-api/src/main/java/sopt/org/umbba/api/controller/qna/dto/response/FirstEntryResponseDto.java
  umbba-api/src/main/java/sopt/org/umbba/api/controller/qna/dto/response/GetInvitationResponseDto.java
  umbba-api/src/main/java/sopt/org/umbba/api/service/qna/QnAService.java
  umbba-api/src/main/java/sopt/org/umbba/api/service/user/AuthService.java
  umbba-common/src/main/java/sopt/org/umbba/common/exception/SuccessType.java
  umbba-domain/src/main/java/sopt/org/umbba/domain/domain/user/User.java
Labels: 🔥 Pull Request, 예준🍒, ✨Feat, 🪄API, 🔧Modify

#131 [FIX] 튜토리얼 오늘의 질문 알 수 있도록 변경
  umbba-api/src/main/java/sopt/org/umbba/api/controller/qna/dto/response/TodayQnAResponseDto.java
  umbba-api/src/main/java/sopt/org/umbba/api/service/qna/QnAService.java
Labels: 🔥 Pull Request, 동섭🍑, 🐞 BugFix, 🪄API, 🔧Modify

#134 [FIX] 엔딩 페이지 한쪽에서만 뜨는 오류 수정
  umbba-api/src/main/java/sopt/org/umbba/api/service/qna/QnAService.java
  umbba-domain/src/main/java/sopt/org/umbba/domain/domain/user/User.java
Labels: 🔥 Pull Request, 동섭🍑, 🐞 BugFix, 🪄API, 🔧Modify, ☁️Database
